<mat-card-title>Create User</mat-card-title>
<div class="container">
    <form [formGroup]="myForm" (ngSubmit)="service.postUser(myForm.value)">
  
      Value : {{ myForm.value | json }}
    
      <hr>
  
      <mat-form-field>
        <input matInput placeholder="First Name" formControlName="firstName" autocomplete="off">
  
        <mat-error *ngIf="firstName.invalid && firstName.touched">
          Required
        </mat-error>
    
      </mat-form-field>
  
      <mat-form-field>
        <input matInput placeholder="Middle Initial" formControlName="middleInitial" autocomplete="off">
  
        <mat-error *ngIf="middleInitial.invalid && middleInitial.touched">
          Just one letter
        </mat-error>
    
      </mat-form-field>
  
      <mat-form-field>
        <input matInput placeholder="Last Name" formControlName="lastName" autocomplete="off">
  
        <mat-error *ngIf="lastName.invalid && lastName.touched">
            Required
          </mat-error>
    
      </mat-form-field>
  
      <mat-form-field>
        <input matInput placeholder="Email" formControlName="email" autocomplete="off">
  
        <mat-error *ngIf="email.invalid && email.touched">
          Invalid Email
        </mat-error>
    
      </mat-form-field>

      <mat-checkbox formControlName="isSupervisor" color="primary">
        Supervisor?
      </mat-checkbox>
  
  
      <mat-checkbox *ngIf="myForm.value.isSupervisor || myForm.value.isAdmin" formControlName="isAdmin" color="primary">
        Admin?
        <mat-error *ngIf="(!myForm.value.isSupervisor) && myForm.value.isAdmin">
          Admin must be unchecked!
        </mat-error>
      </mat-checkbox>
  
      <hr>
    
      <button mat-raised-button [disabled]="myForm.invalid" color="primary">Create</button>
    </form>
  </div>
