<div class="container">
  <form [formGroup]="myForm" (ngSubmit)="create(myForm.value)">
  
    <mat-form-field>
      <input matInput formControlName="startDate" [matDatepicker]="picker" placeholder="Start Date">
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker touchUi #picker disabled="false"></mat-datepicker>
    </mat-form-field>    
  
    <button mat-raised-button [disabled]="myForm.invalid" color="primary">Create Timecard</button>
  </form>
</div>
