<form [formGroup]="myForm" (ngSubmit)="register(myForm.value)">
  
  Value : {{ myForm.value | json }}

  <hr>

  <mat-form-field>
    <input matInput formControlName="date" [matDatepicker]="picker" placeholder="Date">
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker touchUi #picker disabled="false"></mat-datepicker>

    <mat-error *ngIf="date.invalid && date.touched">
      Required
    </mat-error>
  </mat-form-field>

  <mat-form-field>
    <mat-select placeholder="Task" formControlName="taskId">
      <mat-option *ngFor="let task of tasks" [value]="task.id">
        {{task.name}}
      </mat-option>
    </mat-select>

    <mat-error *ngIf="taskId.invalid && taskId.touched">
      Required
    </mat-error>
  </mat-form-field>

  <mat-form-field>
    <input matInput placeholder="Hours Worked" formControlName="hours" autocomplete="off">

    <mat-error *ngIf="hours.invalid && hours.touched">
        Required
      </mat-error>

  </mat-form-field>
</form>
