<mat-card-title>Timecards</mat-card-title>
<table class="currentTimecard">
  <th>Start Date : {{ mostRecentTimecard.startDate }}</th>
  <th>End Date : {{ mostRecentTimecard.endDate }}</th>
</table>
<div style="height: 20px"></div>
<table class="currentTimecard">
  <tr>
    <th>Date</th>
    <th>Task</th>
    <th>Hours Worked</th>
    <th>Approved</th>
  </tr>
  <tr *ngFor="let mostRecentWorkday of mostRecentWorkdays">
    <td>{{ mostRecentWorkday.date }}</td>
    <td>{{ getTaskName(mostRecentWorkday.taskId) }}</td>
    <td>{{ mostRecentWorkday.hoursWorked }}</td>
    <td *ngIf="mostRecentWorkday.approved">
        <mat-icon>done</mat-icon>
    </td>
  </tr>
</table>



